---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

You can also find my articles on <a href="https://scholar.google.com/citations?user=xY18ZUcAAAAJ&hl=en">my Google Scholar profile</a>.

<h2>Working Papers</h2>

<ul>
  <li>
    <strong>Dry-roasted NUTS: early estimates of the regional impact of 2025 extreme weather</strong><br>
    Uni Mannheim WP, with <a href="https://sites.google.com/view/sehrishusman/">Sehrish Usman</a> and <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/miles-parker.en.html">Miles Parker</a><br>
    Coverage: The Guardian, Le Monde, El País, POLITICO Europe, Banque de France<br>
    R&R <em>Communications Earth &amp; Environment</em> (Nature Portfolio)
  </li>
</ul>

<h2>Work in Progress</h2>

<ul>
  <li>
    <strong>Sectoral Inflation at Risk</strong><br>
    With <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/michele-lenza.en.html">Michele Lenza</a> and <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/marta-banbura.en.html">Marta Bańbura</a>
  </li>
</ul>

<h2>Research Assistant Projects</h2>

<h3>Directorate General Research, European Central Bank</h3>

Supervisors: <a href="https://scholar.google.com/citations?user=mFbACM8AAAAJ&hl=en">Michele Lenza</a>, <a href="https://cepr.org/about/people/ana-lamo">Ana Lamo</a>, <a href="https://sites.google.com/site/laevenl/home">Luc Laeven</a>, <a href="https://chiaraosbat.github.io/about.html">Chiara Osbat</a>

<ul>
  <li>Designing and conducting empirical research on AI and employment.</li>
  <li>Building a dataset of climate indicators weighted by gridded economic activity, used in:
    <ul>
      <li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5484206">Dry-roasted NUTS: early estimates of the regional impact of 2025 extreme weather</a> by <a href="https://sites.google.com/view/sehrishusman/">Sehrish Usman</a>, <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/miles-parker.en.html">Miles Parker</a> and Mathilde Vallat</li>
      <li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5573635">How Do Rising Temperatures Affect Inflation Expectations?</a> by <a href="https://sites.google.com/view/georgarakos/home">Dimitris Georgarakos</a>, <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/geoff-kenny.en.html">Geoff Kenny</a>, <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/justus-meyer.en.html">Justus Meyer</a> and <a href="https://www.dnb.nl/en/research/personal-pages/maarten-van-rooij/">Maarten van Rooij</a></li>
      <li>Earth, Wind, Fire and grocery bills: exploring the nonlinear relationship between food prices and weather in the euro area by <a href="https://www.linkedin.com/in/ignacio-vidal-quadras-costa-b3464417b/">Ignacio Vidal-Quadras Costa</a>, <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/friderike-kuik.en.html">Friderike Kuik</a>, <a href="https://chiaraosbat.github.io/about.html">Chiara Osbat</a> and <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/marta-saez-moreno.en.html">Marta Saez Moreno</a></li>
    </ul>
  </li>
  <li>Working on a multi-country DSGE model with production networks, with <a href="https://chiaraosbat.github.io/about.html">Chiara Osbat</a>, part of the <a href="https://www.ecb.europa.eu/pub/research-networks/html/champ.en.html">ChaMP Research Network</a>.</li>
  <li>Conducting literature review for a discussion paper on trade policy and working on the CES.</li>
</ul>

<h3>Department of Economics, University of Copenhagen</h3>

Supervisor: <a href="https://sites.google.com/view/jakob-roland-munch">Jakob Roland Munch</a>

<ul>
  <li>Assisting with econometric modelling and estimation: <a href="/files/Globalization and Emissions March 2026.pdf">The Impact of Offshoring and Import Competition on Firm-level Carbon Emissions</a> by <a href="https://researchprofiles.ku.dk/en/persons/jonathan-leisner">Jonathan Leisner</a>, <a href="https://sites.google.com/view/jakob-roland-munch">Jakob Roland Munch</a>, <a href="https://dors.dk/medarbejdere/august-twile-nielsen">August Twile Nielsen</a> and <a href="https://sites.google.com/site/georgschaur/home">Georg Schaur</a> (CA JAERE).</li>
  <li>Datasets: Administrative registers from Statistics Denmark (FIRMSTAT and INDUSTRIAL ENERGY USE SURVEY), EXIOBASE for country-product-year specific emission intensities, Foreign Trade Statistics register and PRODCOM register to measure offshoring and Chinese import competition, BACI by CEPII data for bilateral trade flows.</li>
</ul>

<h3>Center for Economic Behavior and Inequality (CEBI), University of Copenhagen</h3>

Supervisor: <a href="https://sites.google.com/prod/view/sonjasettele/startseite">Sonja Settele</a>

<ul>
  <li><a href="#">Household behavior below the zero lower bound</a>, by <a href="https://sites.google.com/prod/view/sonjasettele/startseite">Sonja Settele</a>, <a href="https://researchprofiles.ku.dk/en/persons/niels-johannesen">Niels Johannesen</a>, <a href="https://sites.google.com/site/asgerlauandersen/">Asger Lau Andersen</a>, <a href="https://sites.google.com/site/johanneswohlfartecon/home">Johannes Wohlfart</a> and <a href="https://researchprofiles.ku.dk/en/persons/jens-br%C3%B8ndum-petersen/">Jens Brøndum Petersen</a></li>
  <li>Child penalties unpacked: The effect of beliefs and preferences on the time allocation of new parents, by <a href="https://sites.google.com/prod/view/sonjasettele/startseite">Sonja Settele</a>, <a href="https://sites.google.com/view/franziskavalder/research">Franziska Valder</a> and <a href="https://www.paulhufe.net/">Paul Hufe</a></li>
  <li><a href="https://www.ifo.de/DocDL/cesifo1_wp12497.pdf">Mental models of high school success</a>, by <a href="https://sites.google.com/prod/view/sonjasettele/startseite">Sonja Settele</a>, <a href="https://sites.google.com/view/theresahuebsch">Theresa Hübsch</a>, <a href="http://www.robertmahlstedt.com/">Robert Mahlstedt</a>, <a href="https://sites.google.com/site/piapinger/home">Pia Pinger</a> and <a href="https://sites.google.com/site/helenewilladsen/home">Helene Willadsen</a></li>
  <li><a href="https://www.econ.ku.dk/cebi/publikationer/working-papers/CEBI_WP_06-26.pdf">Unemployment Narratives</a>, by <a href="https://sites.google.com/prod/view/sonjasettele/startseite">Sonja Settele</a>, <a href="http://www.robertmahlstedt.com/">Robert Mahlstedt</a> and <a href="https://sites.google.com/site/johanneswohlfartecon/home">Johannes Wohlfart</a></li>
</ul>

<h2>Coursework Projects</h2>

<ul>
  <li>Poverty and inequality in later life, the role of doctor visit subsidies in Denmark, using easySHARE data — <em>Best in class</em></li>
  <li>Business Cycle Analysis in Costa Rica and Denmark: An Empirical and Historical Perspective with Andrés Fiallos, using OECD data — <em>Best in class</em></li>
  <li>Time and Money: Social Security Benefits and Intergenerational Transfers with A. Sukhija and Y. Hachana, replicating Mukherjee (2018) — <em>Best in class</em></li>
</ul>

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
